:root {
  --b1: 0deg 0% 9.1%;
  --b2: 0deg 0% 16.97%;
  --b3: 22.5 14.286% 89.02%;
  --bg: #0d0d0d;
  --text: #cbd5e1;
  --headings: #ff75c3;
  --links: #f57070;
  --blockquotes-b: rgb(51 65 85);
  --primary: #ff75c3;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headings);
}

.progress-bar {
  background: var(--primary);
}
a {
  color: var(--links);
}

blockquote {
  border-color: var(--blockquotes-b);
  color: var(--text);
}

table tbody tr:hover th,
table tbody tr:hover td {
  background-color: var(--b2);
}

:where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
  border-color: hsl(var(--b2, var(--b1)));
}

:where(thead, tfoot) :where(th, td) {
  background-color: hsl(var(--b2, var(--b1)));
}

:where(tbody th, tbody td) {
  background-color: hsl(var(--b1));
}

kbd {
  border-color: hsl(215 27.907% 16.863%/0.2);
  background-color: hsl(var(--b2, var(--b1)));
}

/* CODE */

code[class*="language-"]::selection,
pre[class*="language-"]::selection,
code[class*="language-"] ::selection,
pre[class*="language-"] ::selection {
  background: rgba(29, 59, 83, 1);
}

p code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  color: #d6deeb;
  background: rgba(29, 59, 83, 1);
}

code[class*="language-"],
pre[class*="language-"] {
  color: #d6deeb;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 1);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(29, 59, 83, 1);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #011627;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: rgb(99, 119, 119);
  font-style: italic;
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.namespace {
  color: rgb(178, 204, 214);
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: rgb(128, 203, 196);
}

.token.tag,
.token.operator,
.token.keyword {
  color: rgb(127, 219, 202);
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: rgb(130, 170, 255);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: rgb(173, 219, 103);
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: rgb(255, 203, 139);
}

.token.regex,
.token.important,
.token.variable {
  color: rgb(214, 222, 235);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
